.App {
	font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
	line-height: 1.4em;
	min-width: 230px;
	max-width: 550px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-weight: 300;
	margin: 0 auto;
}

.App-header h1 {
	font-size: 100px;
	text-align: center;
	color: rgba(175, 47, 47, 0.5);
  color: rgb(223, 194, 194);
}

.plane {
  background-color: rgb(225, 255, 255);
  border-radius: 25px;
  padding: 5px;

}
.box {
	text-align: center;

}

ul, li {
  list-style-type: none;
  padding: 0% 1%;
  
}

li {  
  display: flex;
  margin: 3px;
  background-color: rgb(209, 219, 223);
  
  border-style:solid;
  border-width: 1px;
  border-color: #fdfdfd;
  border-radius: 15px;

}

li > div {
  color: blueviolet;
  width: 50px;
  margin: auto auto;
}

div.tick {
  height: 40px;
  width: 40px;
  margin-right: 5px;
  background-repeat: no-repeat;
	background-position: center left;
}

.completed .tick {
  background-image: url('data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2240%22%20height%3D%2240%22%20viewBox%3D%22-10%20-18%20100%20135%22%3E%3Ccircle%20cx%3D%2250%22%20cy%3D%2250%22%20r%3D%2250%22%20fill%3D%22none%22%20stroke%3D%22%23bddad5%22%20stroke-width%3D%229%22/%3E%3Cpath%20fill%3D%22%235dc2af%22%20d%3D%22M72%2025L42%2071%2027%2056l-4%204%2020%2020%2034-52z%22/%3E%3C/svg%3E');
}

.nonComp .tick {
  background-image: url('data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2240%22%20height%3D%2240%22%20viewBox%3D%22-10%20-18%20100%20135%22%3E%3Ccircle%20cx%3D%2250%22%20cy%3D%2250%22%20r%3D%2250%22%20fill%3D%22none%22%20stroke%3D%22%23ededed%22%20stroke-width%3D%225%22/%3E%3C/svg%3E');
}

.tBox {
  margin: 3px 2px;
  border-radius: 10px;
  /*max-width: 400px;
   */
  width: 400px;
  border-color: #fff3;
}
.completed .tBox {
  text-decoration: line-through;
  color: gray;
}

.controlBox {
  padding: 1%;
  margin: 15px 5px;
  
  display: flex;
  background-color: rgb(209, 219, 223);
  
  border-style:solid;
  border-width: 1px;
  border-color: #fdfdfd;
  border-radius: 15px;

}

button {
  margin: 7px;
  width: 120px;
  border-radius: 13px;
  border-style:solid;
  border-width: 1px;
  border-radius: 5px;
  border-color: rgb(175, 175, 175);
}
button:hover {
  background-color:  rgb(230, 230, 230);
}

button:active {
background-color: lightgray;
}

.activeSelected {
  font-weight: bold;
  border-color: black;
}

.inBox {
  grid-row-end: span;
  margin-left: 7px;
  margin-top: 5px;
  text-align: center;
  width: 110px;
}

input:focus{
   outline: black dotted thin;
}